.main_container{
    max-width: 800px;
    margin: auto;
}

.task_list{
    min-height: 400px;
    max-height: 500px;
    margin: 50px 0 0 0;
    list-style-type: none;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 5px;
    overflow-y: auto;
}

.list_item{
    border-top: 1px solid #dbdbdb;
    padding: 10px 0;
}

.list_item:last-child{
    border-bottom: 1px solid #dbdbdb;
}

.group_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 5px;
}

.task_description{
    width: 100%;
}

.task_name{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.task_description{
    width: 90%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task_operations{
    width: 150px;
}
.task_operations > span{
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.loader{
    width: 100%;
}