.navbar_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: inherit;
}

.navbar_container > .nav_logo{
  font-size: 30px;
  color: #ffffff;
}